
/******** INITIALIZE  CSS ********/
body{
	margin: 0;
	padding: 0;
	background-color: #263238;	
}
html{
	overflow-x: auto;
}

/******** EXTRAS ********/

.checkElement{
	border: 2px blue solid;
}

#myCanvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

li a{
	font-family: 'Montserrat';
}

ul > .meetgreet a:hover{
	color: red;
}
span.card-title{
	font-family: 'Steelworks';
}
span.quotation{
	text-align:center;
	 color:black;
	 font-family:'Amatica SC';
	 font-style:'italic';
	 font-size:29px;
}
#highlight-o,#highlight-t{
  color: #f1c40f;
}
.current{
	font-family: 'Raleway';
}
.carousel-item{
	height: 100%;
}
.materialbox-caption{
	padding-top: 15px;
}
.intro-1,.intro-2,.intro-3,.intro-4,.intro-5,.intro-6,.intro-7{
	font-family: 'Montserrat';
	color: white;
	font-weight: bold;
	font-size: 32px;
}
#intro-2-extra{
	margin-left: -25vh;
}
#intro-2-extra-think,#intro-2-extra-design,#intro-2-extra-inspire,#intro-2-extra-collaborate,#intro-2-extra-innovate{
	margin-left: 25vh;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
	border-bottom: 1px solid #ff5722;
}
.input-field label{
	color: white;
}
input[type=text]:focus {
	border-bottom: 1px solid #2196f3;
	box-shadow: 0 1px 0 0 #2196f3;
}
.btn-notify{
	font-size: 12px;
}

/******** MEET AND GREET SLIDES ********/

/******** FONTS ********/

@font-face{
  font-family: 'Steelworks';
  src: url('../fonts/steelworks.ttf');
}

/******** TYPED CURSOR ********/
.typed-cursor{
	font-family: 'Montserrat';
	font-size: 36px;
	color: white;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
